<div>
    <img src="/assets/hackathonTeam.jpg" alt=":(">
    <h1 class="w-100"> - About Us - </h1>
</div>

<div>
  <h2 class="text-center">Our Inspiration</h2>
  <p>
    We are a group of students from Cooper Union inspired by a friend who lost his personal belongings on the MTA. We believe in a system that promotes good behavior and wanted to come up with a more effective system than the traditional lost and found or the police. Itmine is a system that we created so that if someone stumbles upon lost belongings and returns it back to its rightful owner, he or she will be rewarded for their actions.
  </p>
</div>
