<div class="row">
  <div class="column"> <img id="bq1" src="/assets/bqcode.jpg" alt="sad"> </div>
  <div class="column"> <img id="bq2" src="/assets/bqcode.jpg" alt="sad"> </div>
  <div class="column"> <img id="bq3" src="/assets/bqcode.jpg" alt="sad"> </div>
  <div class="column"> <img id="bq4" src="/assets/bqcode.jpg" alt="sad"> </div>
</div>

<div>
  <h2 class="text-center">Frequently Asked Questions</h2>
  <ul>
    <li><h3>How do I track my package after the finder sends it to the post office?</h3></li>
    <li><p></p></li>
    <li><h3>What if it is easier and faster to just return the lost item to the person directly? (as in if the person who lost the item is around the area or lives close by)</h3></li>
    <li><p></p></li>
    <li><h3>What happens to the items that are not picked up?</h3></li>
    <li><p></p></li>
    <li><h3>How do I know that the item is returned in the condition that it was found in?</h3></li>
    <li><p></p></li>
    <li><h3>What happens if the QR code is misplaced from the item? </h3></li>
    <li><p></p></li>
  </ul>
</div>
