div {
 margin: 0 auto;
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
  font-size: 70px;
}
.card-img-top{
  justify: middle;
}
img{
  width:400px;
  height:400px;
  border: none;
}
h2{
  margin: 30px;
  color: #5AB9EA;
  font-size: 35px;
}

p{
  font-weight: bold;
  color: #5680E9;
}

.jumbotron{
  background-color: white;
}

.card {
  border:none;
}

