  <div class="row">
    <h1 class="display-2 w-100">~    How It Works    ~ </h1>
  </div>
  <div class="row">
    <h2 class="w-100 text-center">Quick and Easy with a Reward</h2>

    <div class='jumbotron jumbotron-fluid'>
      <div class='container'>
        <div class="row">
          <div class='col-12 col-md-6 col-xl-3 border-0'>
              <div class="card mb-5">
                <img class="card-img-top" alt="" style='height: 15em;width: 100%;background-image:url(/assets/1.png);background-size:cover;background-position:center;'>
                <div class="card-body">
                  <p class='lead text-center'>1) Scan QR Code on Lost Item</p>
                </div>
              </div>
          </div>

          <div class='col-12 col-md-6 col-xl-3'>
              <div class="card mb-5 border-0">
                <img class="card-img-top" alt="" style='height: 15em;width: 100%;background-image:url(/assets/2.png);background-size:cover;background-position:center;'>
                <div class="card-body">
                  <p class="lead text-center">2) Return Lost Item to Post Office</p>
                </div>
              </div>
          </div>

          <div class='col-12 col-md-6 col-xl-3'>
              <div class="card mb-5 border-0">
                <img class="card-img-top" alt="" style='height: 15em;width: 100%;background-image:url(/assets/3.png);background-size:cover;background-position:center;'>
                <div class="card-body">
                  <p class="lead text-center">3) Ship Package Using QR Shipping Label</p>
                </div>
              </div>
          </div>

          <div class='col-12 col-md-6 col-xl-3'>
              <div class="card mb-5 border-0">
                <img class="card-img-top" alt="" style='height: 15em;width: 100%;background-image:url(/assets/4.png);background-size:cover;background-position:center;'>
                <div class="card-body">
                  <p class='lead text-center'>4) Get Reward</p>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>



