<div>
  <div class="row">
    <div class="column"><img src="/assets/tshirt.jpg" alt="sad"> </div>
    <div class="column"><img src="/assets/bear trap.jpg" alt="sad"> </div>
    <div class="column"><img src="/assets/ID.jpg" alt="sad"> </div>
    <div class="column"><img src="/assets/keys.jpg" alt="sad"> </div>
    <h1 class="w-100"> - How It Works - </h1>
</div>

<div></div>
  <h2 class="text-center">The Affordable Boomerang process in getting what's yours right Back To You</h2>
  <ol>
    <li>Scan QR Code on Lost Item</li>
    <li>Return lost item to a nearby supported office </li>
    <li>Ship Package to owner using generated shipping label</li>
    <li>Go on our website for a Reward</li>
  </ol>
</div>

