div {
 margin: 0 auto;
}
img {
  width: 160px;
  height: 160px;
}

h1 {
  position: absolute;
  top: 50px;
  text-align: center;
  color: black;
  z-index: 1;
  font-size: 70px;
}
ol li {
  font-size: 25px;
  margin-top:20px;
}

h2{
  margin: 20px;
  color: #5AB9EA;
  font-size: 35px;
}
