<div class='jumbotron-fluid'>
  <div class='container'>

    <!-- header text -->
    <div class="row d-flex justify-content-center">
      <h1 class="display-2 text-center">ItMine</h1>
    </div>

    <!-- logo image -->
    <div id="logo" class="flex-column text-center row">
      <img src="/assets/ItMineLogo.jpeg" class="rounded text-center d-block mx-auto" alt="" style='width: 15em;height:15em'>
      <a routerLink="/trackers">
        <button type="button" class="btn btn-primary">It's Mine</button>
      </a>
    </div>

  </div>
</div>

<div class='jumbotron jumbotron-fluid'>
  <div class='container'>
    <div class="row">
      <div class='col-12 col-md-6 col-xl-3'>
        <a href='/track'>
          <div class="card mb-5">
            <img class="card-img-top" alt="" style='height: 10em;width: 100%;background-image:url(/assets/8.png);background-size:cover;background-position:center;'>
            <div class="card-body">
              <p class='lead text-center'>Return Lost Items</p>
            </div>
          </div>
        </a>
      </div>

      <div class='col-12 col-md-6 col-xl-3'>
        <a href='hiw'>
          <div class="card mb-5">
            <img class="card-img-top" alt="" style='height: 10em;width: 100%;background-image:url(/assets/5.png);background-size:cover;background-position:center;'>
            <div class="card-body">
              <p class="lead text-center">How It Works</p>
            </div>
          </div>
        </a>
      </div>

      <div class='col-12 col-md-6 col-xl-3'>
        <a href='/about'>
          <div class="card mb-5">
            <img class="card-img-top" alt="" style='height: 10em;width: 100%;background-image:url(/assets/6.png);background-size:cover;background-position:center;'>
            <div class="card-body">
              <p class="lead text-center">About Us</p>
            </div>
          </div>
        </a>
      </div>

      <div class='col-12 col-md-6 col-xl-3'>
        <a href='/contact'>
          <div class="card mb-5">
            <img class="card-img-top" alt="" style='height: 10em;width: 100%;background-image:url(/assets/7.png);background-size:cover;background-position:center;'>
            <div class="card-body">
              <p class='lead text-center'>FAQs</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>


