#logo img {
  transform: rotate(45deg);
  margin-top: -100px;
}

@keyframes boomerang {
  0%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(720deg);
  }
  100%{
    transform: rotate(-45deg);
  }
}
#logo img:hover{
  animation-name: boomerang;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
