<div class='jumbotron jumbotron-fluid'>
  <div class='container'>

    <div class="alert alert-danger" *ngIf="isInvalidSid"><strong>Notice:</strong> The ID associated with this package is not valid.</div>

    <!-- INSTRUCTIONS HERE -->
  <h1>How to do good and get paid!</h1>
    <h3>We are so glad you scanned this lost item. To get paid for helping the owner, follow these quick instructions</h3>
    <ol>
      <li>Take the lost item and head to the nearest UPS store</li>
      <li>Enter weight of the package in ounces</li>
    </ol>

    <!-- enter weight -->
    <div class="card mb-3">
      <div class="card-body">

        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter weight" id='weightInput' name='weightInput' [(ngModel)]="weight">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info" (click)="setWeight()" [disabled]="isInvalidSid">Set Weight</button>
        </div>

      </div>
    </div>

    <ol>
      <li>Give the package to a UPS worker so that they can scan the shipping label</li>
      <li>Once scanned, the owner will be notified and ItMine.com will gift you money</li>
      <li>Enter your email and we will send you your reward once the package arrives at the owner's home</li>
    </ol>
    <h2>Thank you for protecting someone's valuables today</h2>

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1" [(ngModel)]="giftEmail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [disabled]="isInvalidSid">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="button" class="btn btn-info">Get Reward!</button>
      </div>
    </div>

    <!-- SHIPPING LABEL WILL GO BELOW HERE -->

  </div>
</div>
