<div class='jumbotron jumbotron-fluid'>
  <div class='container'>

    <!-- INSTRUCTIONS HERE -->
  <h1>How to Do Good and Get Paid!</h1>
    <h3>We are so glad you scanned this lost item. To get paid for helping the owner, follow these quick instructions</h3>
    <ol>
      <li>Take the Lost Item and head to the nearest UPS store</li>
      <li>Enter Approximate Weight of the Package in ounces or pounds (label with the unit)<br>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Approximate Weight</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter weight">
          </div>
          <button type="button" class="btn btn-info">Send Weight</button>
        </form>
      </li>
      <li>Give the package to a UPS worker so that they can scan the shipping label</li>
      <li>Once scanned, the owner will be notified and ItMine.co will gift you money</li>
      <li>Enter Your Email and we will send you your reward once the package arrives at the owner's home</li>
    </ol>
    <h2>Thank you for protecting someone's valuables today</h2>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="button" class="btn btn-info">Get Reward!</button>
    </form>

    <!-- SHIPPING LABEL WILL GO BELOW HERE -->

  </div>
</div>
